@include aoa-bg-series($bg__init,$classes_init);

.bg{
    &-footer{
        background-color: $color__footer!important;
    }
}

.login{
    &-s1{
        background-color: #ddd!important;
        background-blend-mode: overlay!important;
    }
}

.offers{
    &-s3{
        background-color: #666;
        background-blend-mode: multiply!important;
    }
}

.store{
    &-s1{
        background-color: #ddd!important;
        background-blend-mode: overlay!important;
    }
}

nav{
    z-index: 10 !important;
}

textarea{
    resize: none;
}

@media all and (max-width: 767px){
    .about{
        &-s1,&-s2,&-s3{
            *{
                color:#fff !important
            }  
            background-color: #666;
            background-blend-mode: multiply!important;          
        }
        &-s1,&-s3{
            background-position: right!important;
        }
    }
    .blog{
        &-s1{
            background-position: right!important;
        }
    }
    .blog,.contact{
        &-s1{
            *{
                color:#fff !important
            }  
            background-color: #666;
            background-blend-mode: multiply!important;          
        }
    }
    .contact{
        &-s2{
            background-position: center!important;
        }
    }
    .index{
        &-s1{
            *{
                color:#fff !important
            }    
            background-color: #666;
            background-blend-mode: multiply!important;  
            background-position: right!important;      
        }
    }
    .login{
        &-s1{
            background-position: right!important;
        }
    }
    
    .offers{
        &-s1{
            *{
                color:#fff !important
            }  
            background-color: #666;
            background-blend-mode: multiply!important;          
        }
        &-s3{
            background-position: right!important;
        }
    }
    .navbar{
        &-nav{
            *{
                &:hover{
                    opacity:0.8;
                }
                color:#fff !important
            }
            background-color: #999!important;
            border: 1px solid #333;
            opacity: 0.9;
        }
    }
}