$prefix: "../../";
$bg__about-img: 
    $prefix+"img/about/about-s1.jpg",
    $prefix+"img/about/about-s2.jpg",
    $prefix+"img/about/about-s3.jpg";
$bg__blog-img: $prefix+"img/blog/blog-s1.jpg";
$bg__comingsoon-img: $prefix+"img/coming.jpg";
$bg__contact-img: 
    $prefix+"img/contact/contact-s1.jpg",
    $prefix+"img/contact/contact-s2.jpg";
$bg__error-img: $prefix+"img/error.jpg";
$bg__index-img: $prefix+"img/index/index-s1.jpg";
$bg__login-img: $prefix+"img/login/login-s1.jpg";
$bg__offers-img: 
    $prefix+"img/offers/offers-s1.jpg",
    "",
    $prefix+"img/offers/offers-s2.jpg";
$bg__privacy-img: $prefix+"img/privacy.jpg";
$bg__store-img: $prefix+"img/store/store-s1.jpg";
$bg__init:
    "about",
    "blog",
    "comingsoon",
    "contact",
    "error",
    "index",
    "login",
    "offers",
    "privacy",
    "store";
$classes_init:
    $bg__about-img,
    $bg__blog-img,
    $bg__comingsoon-img,
    $bg__contact-img,
    $bg__error-img,
    $bg__index-img,
    $bg__login-img,
    $bg__offers-img,
    $bg__privacy-img,
    $bg__store-img;
$color__footer: darken(#fef4ee,35%);
$footer-height: 57px;